* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.box {
  border-radius: 25px;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 15px;
}

.title {
  margin-top: 25px;
  color: hsl(218, 44%, 22%);
}

.description {
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 20px;
  color: hsl(216, 15%, 48%);
}

.box div {
  padding-left: 10px;
  padding-right: 10px;
}
